:root {
  --primary: rgb(91, 157, 179) !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.members {
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: 36px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

.brain-image {
  width: 300px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #2980b9;
}

.hidden-div {
  position: absolute;
  bottom: -200%;
  /* left: 0; */
  width: 100%;
  /* background-color: #3498db; */
  color: #fff;
  /* padding: 20px; */
  transition: transform 0.5s ease-in-out;
}

.hidden {
  transform: translateY(100%);
  visibility: hidden;
}

.margin-top-10 {
  margin-top: 9%;
}

.margin-bottom-10 {
  margin-bottom: 10%;
}

.center-nav {
  justify-content: center;
}

.field.label > label {
  color: var(--primary);
}

.field > input {
  color: var(--primary);
}

input {
  margin-block-start: 0em;
}

h1, h2, h3, h4, h5, h6 {
  justify-content: center;
}

.loading {
  font-size: 50px;
}